/NN/Cheb/basemodel
/NN/Cheb/cdkmodel
/NN/Cheb/model
/NN/Cheb/model2
/NN/Cheb/rdkitmodel
/NN/Cheb/time
/NN/GAT/basemodel
/NN/GAT/cdkmodel
/NN/GAT/cdkmodel2
/NN/GAT/identitymodel
/NN/GAT/model
/NN/GAT/model2
/NN/GAT/model4
/NN/GAT/model8
/NN/GAT/model48
/NN/GAT/rdkitmodel
/NN/GAT/time
/computed
/NN/GCN/basemodel
/NN/GCN/cdkmodel
/NN/GCN/model
/NN/GCN/rdkitmodel
/NN/GCN/time
/NN/GCN/Zaretzki
/NN/SAGE/basemodel
/NN/SAGE/cdkmodel
/NN/SAGE/model
/NN/SAGE/rdkitmodel
/NN/SAGE/time
/NN/SAGE/runs
/NN/GCN/runs
/NN/GAT/runs
/NN/Cheb/runs